@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: var(--font-body);
  line-height: 140%;
  /* because of hero image handling */
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

p,
li {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
}