.hero-image-holder {
  font-family: var(--font-display);
  position: relative;
  margin-top: -50px;
  margin-left: -50vw;
  margin-bottom: 30px;
  /* 
    Break-out trick - the hero section takes full viewport width
    See: https: //css-tricks.com/full-width-containers-limited-width-parents/
  */
  width: 100vw;
  left: 50%;

  img {
    width: 100%;
    aspect-ratio: 30/10;
    max-height: 600px;
    object-fit: cover;

    @media (max-width: 900px) {
      aspect-ratio: 16/9;
    }

    @media (max-width: 600px) {
      aspect-ratio: 4/3;
    }
  }

  h2 {
    line-height: 100%;
    font-size: 4.5rem;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: var(--text-on-dark-active);
    text-shadow:
      0 0 10px rgba(0, 0, 0, 0.9),
      0 0 30px rgba(0, 0, 0, 0.8),
      0 0 60px rgba(0, 0, 0, 0.7);

    @media (max-width: 900px) {
      left: 20px;
      font-size: 3.5rem;
    }
  }
}